.navbar {
    background-color: orange;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.main h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 42px;
}

.main h3 {
  color: blue;

}

.main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  text-align: center;
  font-size: 36px;
}

.list img {
  width: 100px;
  height: 100px;
}

.list {
  list-style: none;
}